<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3f17c">  <td>20/05/08 19:13:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SalesOrdersAPIAutomation.salesOrderAPICreation()[pri:1, instance:com.tms.APIAutomation.SalesOrdersAPIAutomation@1dfe2924]">salesOrderAPICreation</td> 
  <td>main@103887628</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>20/05/08 19:13:27</td>   <td>4213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SalesOrdersAPIAutomation.salesOrderAPIList()[pri:2, instance:com.tms.APIAutomation.SalesOrdersAPIAutomation@1dfe2924]">salesOrderAPIList</td> 
  <td>main@103887628</td>   <td></td> </tr>
<tr bgcolor="7d6068">  <td>20/05/08 19:13:28</td>   <td>5864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StockOrders.createStockOrder()[pri:3, instance:com.tms.APIAutomation.StockOrders@6ebc05a6]">createStockOrder</td> 
  <td>main@103887628</td>   <td></td> </tr>
<tr bgcolor="7d6068">  <td>20/05/08 19:13:29</td>   <td>6463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StockOrders.stockUpdate()[pri:4, instance:com.tms.APIAutomation.StockOrders@6ebc05a6]">stockUpdate</td> 
  <td>main@103887628</td>   <td></td> </tr>
<tr bgcolor="7d6068">  <td>20/05/08 19:13:30</td>   <td>7154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StockOrders.stockList()[pri:5, instance:com.tms.APIAutomation.StockOrders@6ebc05a6]">stockList</td> 
  <td>main@103887628</td>   <td></td> </tr>
</table>
